body {
  background-image: url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/168/780/original/Sunset-Weather-Background.png?1750622864");
  background-repeat: no-repeat;
  max-width: 1400px;
}
