.Weather {
  padding: 16px;
  border: solid 1px #d9d9d9;
  border-radius: 10px;
  background-color: #1f1d1f;
  color: #fffdff;
}

.Weather h1 {
  font-size: 30px;
  font-weight: 900;
  margin: 20px 0 0 0;
  line-height: 29px;
  color: #0e6efd;
}

.Weather p {
  font-weight: 100;
  line-height: 1.5;
}

.Weather ul {
  margin: 0;
  padding: 0;
}

.Weather li {
  font-size: 14px;
  font-weight: 200;
  line-height: 19px;
  list-style: none;
}

.Weather .weather-details {
  border-right: 1px solid #d9d9d9;
}

.Weather .temperature {
  font-weight: 800;
  font-size: 64px;
  line-height: 64px;
}

.Weather .unit {
  font-size: 16px;
  font-weight: 500;
  position: relative;
  line-height: 1;
  top: -38px;
}

.Weather .unit a {
  text-decoration: none;
}

.Weather .condition {
  font-weight: 800;
  color: #0e6efd;
}

.Weather img {
  display: inline-block;
  font-size: 64px;
}
